body{
    background-image: url('https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?w=996&t=st=1724043020~exp=1724043620~hmac=8fc892dfccf86530cd6c4d3e17f708ac8caf8665dfb1f436d6f4c6d418fd7034');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}
.form {
    height: auto;
    max-width: 500px;
    padding: 20px;
    margin: 80px auto;
    border: 1px solid #af8b8b;
    border-radius: 50px;
    background-color: #a0a2c7c6;
}

.view{
    padding: 20px;
}

.error{
    background-color: none;
    text-align: center;
    color: rgb(243, 238, 238);
}
  
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
}
