body{
    background-color: rgba(0, 0, 0, 0.93);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}
.form {
    height: auto;
    max-width: 500px;
    padding: 20px;
    margin: 80px auto;
    border: 1px solid #af8b8b;
    border-radius: 50px;
    background-color: #a0a2c7c6;
}

.view{
    padding: 20px;
}

.error{
    background-color: none;
    text-align: center;
    color: rgb(243, 238, 238);
}
  
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
}
  
.logout{
  color: white;
  background-color: #af8b8b;
}

.logout:hover{
  background-color: rgb(163, 52, 52);
}